<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LIFPROJET</title>
</head>
<body>
    <h1>Fonctionalitées... !</h1>
    <a href="/">Retour à la page d'acueil</a>
</body>
</html>